<html>
    <head>
    
    </head>
    <body>
    <h1>{{thread.title}} posted by {{thread.author}}</h1>
    <p> {{thread.content}}</p>
    {% if thread.post_set.all %}
        <hr>
        {% for reply in thread.post_set.all %}
            <p> {{reply.content}} - {{reply.author}} {{reply.post_date}} </p>
        {% endfor %}
    {% endif %}
    <hr>
    <form action="{% url 'discuss:view' thread.id %}" method="POST">
        {% csrf_token %}
        {{reply_form.as_p}}
        <input type="submit" value="reply">
    </form>
    </body>
</html>