<html>

    <body>
        <ul>
            {% for thread in threads %}
                <li><a href="{% url 'discuss:view' thread.id %}">{{thread.title}}</a> 
                    posted by {{thread.author}}
                    views: {{thread.views}}
                </li>
            {% endfor %}
            
        </ul>
        {% if is_paginated %}
                hoho
                <p>{{ paginator.page_range }}</p>
                <p>{{ page_obj.start_index }}</p>
                <p>{{ page_obj.end_index }}</p>
        {% endif %}
        <a href="{% url 'discuss:create' %}">Create A Thread</a>
    </body>

</html>