<html>
    <div id="loginform">
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}
        <form action="{% url 'login_url' %}" method="POST">
            {% csrf_token %}
            {% for field in loginform %}
                <p>
                {% if field.html_name == 'remember' %}
                    {{field}} {{field.label}}
                {% else %}
                    {{field.label}} {{field}}
                {% endif %}
                </p>
            {% endfor %}
            <input type="submit" value="login">
        </form>
        <p><a href="{% url 'register_url' %}">Register</a></p>
    </div>
</html>