<html>
    <head>
        <style>
            
        </style>
    </head>
    <body>
        <form action= "{% url 'quiz_url' quiz_id %}" method = "POST">
            {% csrf_token %}
            {% for field in form %}
                {{field.label}} {{field.errors.as_text}}
                <ol type="a">
                {% for x in field %}
                        <li>{{ x.tag }} <label for="{{x.name}}">{{x.choice_label}}</label></li>
                {% endfor %}
                </ol>
            {% endfor %}
            <input type="submit" name = "submit" value="Submit">
        </form>
    </body>
</html>