{% load comments %}
<html>
    <head>
        <style type="text/css">
            #announcement-post {
                margin: 10px 10px 10px 10px;
                width:500px;
            }
        
            #id_honeypot {
                display: none;
            }
        </style>
    </head>
    <body>
	    <div id="announcement-post">
	        <h1>{{announcement.title}}</h1>
	        <h4>{{announcement.postdate}} by {{announcement.author}}</h4>
	        <p> {{announcement.content}} </p>
        </div>
        <div id="commentbox">
            {% get_comment_count for announcement as comment_count %}
            There are {{comment_count}} comment{{comment_count|pluralize}}.
            {% get_comment_list for announcement as comment_list %}
            {% for comment in comment_list %}
                <dl>
                    <dt>
                        {{comment.submit_date|date:"F d,Y f A"}} - {{comment.user_name}}
                    </dt>
                    <dd>
                        {{comment.comment}}
                    </dd>
                    
                </dl>
            {% endfor %}
            
            {% if user.is_authenticated %}
                {% get_comment_form for announcement as form %}
                <form action="{% comment_form_target %}" method="POST">
                    {% csrf_token %}
                    {{form.comment}}
                    {{form.honeypot}}
                    {{form.content_type}}
                    {{form.object_pk}}
                    {{form.timestamp}}
                    {{form.security_hash}}
                    <input type="hidden" name="next" value="{% url 'announcement:view' announcement.id %}">
                    <input type="submit" value="Add Comment" id="id_submit">
                </form>
            {% else %}
                <p> Please <a href="{% url 'login_url' %}?next={% url 'announcement:view' announcement.id %}">login</a> to post a comment.</p>
            {% endif %}
        
        </div>
    </body>
</html>