<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SNS Portal</title>
	<link rel="stylesheet" href="{{ STATIC_URL}}css/reset.css" media="all">
	<link rel="stylesheet" href="{{ STATIC_URL}}css/style.css" media="all">
	<script src="{{ STATIC_URL }}js/html5shiv.js"></script>
</head>
<body>

	<header>

		<div class="header-wrapper container">

			<a href="#" id="logo">
				<img src="{{ STATIC_URL }}img/logo.png" alt="Logos">
			</a>

			<div class="form-nav">
				<a href="#" class="btn">Sign in</a>
				<a href="{% url 'register_url' %}" class="btn">Join</a>
			</div>

		</div>

	</header>

	<div class="main-wrapper">

		<div class="inner-wrapper container mod">

			<section class="welcome-msg">
				<h1>Welcome message</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto magnam sint et ipsum perspiciatis eveniet itaque officiis corporis maxime explicabo illum molestias hic repellat illo officia veniam unde doloribus aliquam?</p>
			</section>

			<div class="form-mod login-form">
				<form action="{% url 'login_url' %}" method="POST">
				    {% csrf_token %}

	                {% if messages %}
	                     {% for message in messages %}
	                         <p>{{message}}</p>
	                     {% endfor %}
	                {% endif %}
                
				    {% for field in loginform %}
				        {% if field.name != 'remember' %}
							<p  class="form-field">
								<label for="{{field.name}}">{{field.label}}</label>
								{{field}}
							</p>
						{% else %}
							<p class="rmbr-field">
								{{field}} {{field.label}}
							</p>
						{% endif %}
					{% endfor %}
					<button class="submit-btn btn">Sign in</button>
				</form>
			</div>

		</div>

		<div class="feature-list container mod">

			<section class="feature">
				<h1>Heading 1</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum excepturi enim laudantium voluptatibus officia a vel maxime modi sit ab cum magni blanditiis sint in repellat porro fuga ullam voluptatem!</p>
			</section>

			<section class="feature">
				<h1>Heading 2</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur delectus quod neque repellendus quae fugit veniam atque tempora iure eaque nostrum ipsa voluptatibus officia aliquid magnam quas commodi. Odio repudiandae.</p>
			</section>

			<section class="feature last">
				<h1>Heading 3</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam nemo velit id repudiandae sit amet dignissimos cupiditate minus. Id voluptas ipsam perspiciatis debitis et blanditiis ab autem aspernatur illo ut?</p>
			</section>

		</div>

	</div>

	<footer>
		<div class="container">
			<nav>
				<ul class="footer-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Faq</a></li>
				</ul>
			</nav>
		</div>
	</footer>
</body>
</html>