<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SNS Portal</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" media="all">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" media="all">
	<script src="{{ STATIC_URL }}js/html5shiv.js"></script>
</head>
<body>

	<header>

		<div class="header-wrapper container">
			<a href="#" id="logo">
				<img src="{{ STATIC_URL }}img/logo.png" alt="Logos">
			</a>

			<div class="form-nav">
				<a href="{% url 'login_url' %}" class="btn">Sign in</a>
				<a href="#" class="btn">Join</a>
			</div>

		</div>

	</header>

	<div class="main-wrapper">

		<div class="inner container mod">

			<div class="form-mod register-form">
				<form action="{% url 'register_url' %}" method="POST">
				    {% csrf_token %}
					{% for field in registerform %}
					   <p class="form-field">
					       <label for='{{field.name}}'>{{field.label}}</label>
					       {{field}} <span class="error-text">{{field.errors.as_text}}</span>
					   </p>
					{% endfor%}
					<button class="submit-btn btn">Sign up</button>
				</form>
			</div>

		</div>

	</div>

	<footer>
		<div class="container">
			<nav>
				<ul class="footer-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Faq</a></li>
				</ul>
			</nav>
		</div>
	</footer>
</body>
</html>