{% extends "final/base/userbase.html" %}

{% block content %}

            <!-- Start of .main -->
            <div class="main-wrapper span10">

                <!-- announcements -->
                <div class="row-fluid">

                    <div class="box span8">

                        <div class="box-header">
                            <h3>Announcements</h3>
                        </div>

                        <div class="box-content">

                            <ul class="box-content-list">
                            {% if announcements %}
                                {% for announcement in announcements %}
                                <li>
                                    <div class="announcement">

                                        <div class="announcement-header">
                                            <h4>{{announcement.title}}</h4>
                                            <span class="date-posted">{{announcement.postdate}}</span>
                                        </div>

                                        <div class="announcement-body">
                                            <p>{{announcement.content}}</p>
                                        </div>

                                    </div>
                                </li>
                                {% endfor %}
                            {% else %}
                                <li>
                                    <div class="announcement">

                                        <div class="announcement-header">
                                            <h4>There are no announcements.</h4>
                                            <span class="date-posted">{{announcement.postdate}}</span>
                                        </div>

                                        <div class="announcement-body">
                                            <p>{{announcement.content}}</p>
                                        </div>

                                    </div>
                                </li>
                            {% endif %}
                            </ul>

                        </div>

                    </div>


                <!-- end of announcements -->
<div class="box span4">

                        <div class="box-header">
                            <h3>Course Invitations</h3>
                        </div>

                        <div class="box-content">

                            <ul class="box-content-list">
                                {% for course_invite in user.course_invitations.all %}
                                <li>
                                    <a href="{{course_invite.teacher.get_absolute_url}}">
                                        <img src="{{course_invite.teacher.userinfo.get_size64}}" alt="">
                                    </a>
                                    <strong>{{course_invite.teacher.get_full_name}}</strong>
                                    invited you in {{course_invite.subject.name}}. <br>
                                    <a href="{% url 'course:accept' course_invite.subject.id %}" class="btn">Accept</a>
                                    <a href="{% url 'course:decline' course_invite.subject.id %}" class="btn">Decline</a><br>
                                </li>
                                {% endfor %}


                            </ul>

                        </div>

                    </div>

                </div>
                <!-- End of update -->
            </div>
            <!-- End of .main -->
{% endblock %}
