{% extends "final/base/userbase.html" %}

{% block head %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block content %}
 <div class="main-wrapper span10">
    <div class= "row-fluid">
        <div class="span6 offset3">
        {% load crispy_forms_tags %}
        {% crispy pf %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

    <script src="{{STATIC_URL}}js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
    $(function () {
        $(".bsdatepicker").datetimepicker({
            pickTime: false,
            format: 'yyyy-MM-dd',
        });
    });
    </script>
{% endblock %}
