{% extends "final/base/userbase.html" %}

{% block content %}

<!-- Start of .main -->
            <div class="main-wrapper span10">

                <!-- breadcrumb -->


                <div class="row-fluid">
                    <div class="span12">
                        <form action="" class="input-append">
                            <div class="input-append">
                              <input id="appendedInputButton" type="text" placeholder="Search">
                              <button class="btn" type="button"><i class="icon-search"></i></button>
                            </div>
                        </form>

                        <div class="friends">
                            <h4>Pending List</h4>
                            <ul class="friend-pending-list">
                            <li>
                                <a href="#">
                                    <img src="img/img64.png" alt="">

                                </a>
                                <div>
                                    <a href="#">Christian M. Austria</a> <br>
                                    <a href="#" class="btn btn-mini">Approve</a>
                                    <a href="#" class="btn btn-mini">Reject</a>
                                </div>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="img/img64.png" alt="">

                                </a>
                                <div>
                                    <a href="#">Christian M. Austria</a> <br>
                                    <a href="#" class="btn btn-mini">Approve</a>
                                    <a href="#" class="btn btn-mini">Reject</a>
                                </div>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="img/img64.png" alt="">

                                </a>
                                <div>
                                    <a href="#">Christian M. Austria</a> <br>
                                    <a href="#" class="btn btn-mini">Approve</a>
                                    <a href="#" class="btn btn-mini">Reject</a>
                                </div>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="img/img64.png" alt="">

                                </a>
                                <div>
                                    <a href="#">Christian M. Austria</a> <br>
                                    <a href="#" class="btn btn-mini">Approve</a>
                                    <a href="#" class="btn btn-mini">Reject</a>
                                </div>
                            </li>
                        </div>


                        </ul>

                        <hr class="spacer">

                        <div class="friends">

                            <h4>Friend List</h4>

                            <ul class="friend-list">
                                <li>
                                    <a href="#">
                                        <img src="img/img64.png" alt="">

                                    </a>
                                    <div>
                                        <a href="#">Christian M. Austria</a> <br>
                                    </div>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="img/img64.png" alt="">

                                    </a>
                                    <div>
                                        <a href="#">Christian M. Austria</a> <br>
                                    </div>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="img/img64.png" alt="">

                                    </a>
                                    <div>
                                        <a href="#">Christian M. Austria</a> <br>
                                    </div>
                                </li>

                            </ul>
                        </div>


                    </div>
                </div>


            </div>
            <!-- End of .main -->

{% endblock %}
