{% extends "final/base/userbase.html" %}

{% block content %}

<!-- Start of .main -->
            <div class="main-wrapper span10">

                <!-- breadcrumb -->


                <div class="row-fluid">
                    <div class="span12">

                        {% if user.friendrequest_to.count %}
                        <div class="friends">
                            <h4>Friend Requests</h4>
                            <ul class="friend-pending-list">
                            {% for friendrequest in user.friendrequest_to.all %}
                            <li>
                                <a href="{{friendrequest.from_user.get_absolute_url}}">
                                    <img src="{{friendrequest.from_user.userinfo.get_size64}}">
                                </a>
                                <div>
                                    <a href="#">{{friendrequest.from_user.get_full_name}}</a> <br>
                                   <form action="{% url 'friend:list' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="request-id" value="{{friendrequest.id}}">
                                        <button type="submit" name="submit" value="accept" class="btn btn-small">Accept</button>
                                        <button type="submit" name="submit" value="decline" class="btn btn-small">Decline</button>
                                   </form>
                                </div>
                            </li>
                            {% endfor %}
                        </div>
                        {% endif %}

                        </ul>

                        <hr class="spacer">

                        <div class="friends">

                            <h4>Friend List</h4>

                            <ul class="friend-list">

                                {% for friend in user.friendship.friends.all %}
                                <li>
                                    <a href="{{friend.user.get_absolute_url}}">
                                        <img src="{{friend.user.userinfo.get_size64}}" alt="">

                                    </a>
                                    <div>
                                        <a href="{{friend.user.get_absolute_url}}">{{friend.user.get_full_name}}</a><br>
                                    </div>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>


                    </div>
                </div>


            </div>
            <!-- End of .main -->

{% endblock %}
