{% extends "final/base/userbase.html" %}


{% block content %}
            <div class="main-wrapper span10">

                <div class="row-fluid inbox-options">

                    {% comment %}
                    <ul class="pagination pull-right">
                        <li>
                           <div class="inbox-count">
                               <strong>1 - 4 </strong>
                               of
                               <strong>4</strong>
                           </div>
                        </li>
                        <li>
                            <a href="#" class="btn">&#9664;</a>
                        </li>
                        <li>
                            <a href="#" class="btn">&#9654;</a>
                        </li>
                    </ul>
                    {% endcomment %}
                </div>

                <div class="row-fluid">
                    <div class="span10 inbox-mail">

                        <form action="">
                            <table class="table table-bordered">

                                <tr>
                                    <th>
                                    </th>
                                    <th>
                                        Conversations
                                    </th>

                                    <th>
                                        Received
                                    </th>
                                </tr>

                                {% for conversation in conversations %}
                                <tr>
                                    {% with message=conversation.get_latest_message %}
                                    <th>
                                        {% if user == message.sender %}
                                            <img src="{{message.receiver.userinfo.get_size64}}">
                                        {% else %}
                                            <img src="{{message.sender.userinfo.get_size64}}">
                                        {% endif %}
                                    </th>
                                    <td class="span8">
                                        {% if user == message.sender %}
                                            <a href="{{conversation.get_absolute_url}}">{{message.receiver.get_full_name}}</a>
                                        {% else %}
                                            <a href="{{conversation.get_absolute_url}}">{{message.sender.get_full_name}}</a>
                                        {% endif %}
                                        <p>{{message.content|truncatechars:100}}</p>
                                    </td>

                                    <td>
                                        {{message.date}}
                                    </td>
                                    {% endwith %}
                                </tr>
                                {% endfor %}

                            </table>
                        </form>
                    </div>
                </div>
            </div>


{% endblock %}
