{% extends "final/base/userbase.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="main-wrapper span10">

                <div class="row-fluid inbox-options">
                    <ul class="pull-left">
                        <li>
                            <a href="{% url 'message:delete' conversation.id %}" class="btn btn-small btn-inverse">
                                <i class="icon-trash"></i>
                                Delete Conversation
                            </a>
                            <a href="#personal-message" data-toggle="modal" class="btn btn-small">
                                <i class="icon-share-alt"></i> Reply
                            </a>
                        </li>
                    </ul>
                    {% comment %}
                    <ul class="pagination pull-right">
                        <li>
                           <div class="inbox-count">
                               <strong>1 - 4 </strong>
                               of
                               <strong>4</strong>
                           </div>
                        </li>
                        <li>
                            <a href="#" class="btn">&#9664;</a>
                        </li>
                        <li>
                            <a href="#" class="btn">&#9654;</a>
                        </li>
                    </ul>
                    {% endcomment %}
                </div>

                <div class="row-fluid">

                    <div class="span10 inbox-mail">

                        <form action="">
                            <table class="table table-bordered">

                                <tr>
                                    <th>
                                        <i class="icon-comment-alt"></i> Conversation
                                    </th>
                                </tr>
                                {% for message in conversation.message_set.all %}
                                <tr>
                                    <td>
                                        <ul class="inbox-message">
                                            <li>
                                                <img src="{{message.sender.userinfo.get_size64}}" alt="">
                                                <div class="inbox-message-body">
                                                    <h4><a href="{{message.sender.get_absolute_url}}">{{message.sender.get_full_name}}</a></h4>
                                                    <p>{{message.content}}</p>
                                                </div>
                                                <div class="row-fluid">
                                                    <span class="pull-right">{{message.date}}</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                {% endfor %}

                            </table>

                        </form>
                    </div>
                </div>
</div>
<div id="personal-message" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="pmLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
        <h3 id="pmLabel">Message</h3>
      </div>
      <div class="modal-body">
         <div class="row-fluid">
         <form method="POST" action="{% url 'message:send2' conversation.id %}">
         {% crispy messageform %}
         </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button type="submit" class="btn btn-primary">Send Message</button>
      </div>
      </form>
        </div>
    </div>
</div>

{% endblock %}
