{% extends 'final/base/userbase.html' %}
{% load crispy_forms_tags %}
{% block content %}

            <!-- Start of .main -->
            <div class="main-wrapper span10">

                {% include "final/include/messages.html" %}
                <div class="row-fluid">
                    <div class="span9 user-box">
                        <!-- inner row -->
                        <div class="row-fluid user-profile-span inner-row">

                            <div class="span3">
                                <div class="user-profile">

                                    <img src="{{owner.userinfo.get_size128}}" alt="">
                                    {% if owner.id != user.id %}
                                        <ul class="user-options">

                                            <li>
                                                <a href="#personal-message" data-toggle="modal">
                                                    <i class="icon-envelope"></i>
                                                    Send a message
                                                </a>
                                                {% if user.friendship in owner.friendship.friends.all %}
                                                    <a href="#delete-friend" data-toggle="modal"><i class="icon-minus"></i> Unfriend</a>
                                                {% elif has_request.to_user == owner %}
                                                    <a href="{% url 'friend:cancelrequest' owner.id %}"><i class="icon-ban-circle"></i> Cancel friend request</a>
                                                {% elif has_request.from_user == owner %}
                                                    <a href="#friend-request" data-toggle="modal"><i class="icon-plus"></i> Respond to request</a>
                                                {% else %}
                                                    <a href="{% url 'friend:addfriend' owner.id %}"><i class="icon-plus"></i> Add as friend</a>
                                                {% endif %}
                                                {% if user.friendship in owner.friendship.friends.all %}
                                                <a href="#profile-comment" data-toggle="modal">
                                                    <i class="icon-comment"></i>
                                                    Leave a comment
                                                </a>
                                                {% endif %}
                                            </li>

                                        </ul>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="span9">
                                <h3 class="user"><a href="#">{{owner.username}}</a></h3>
                                <div class="user-meta">
                                    <span class="user-name">{{owner.get_full_name|title}}</span>, {{owner.userinfo.get_age}}, {{owner.userinfo.gender}}, {{owner.groups.all.0.name|title}}<br>
                                    <span class="user-last-login">Last login: {{owner.last_login}}</span> <br>
                                    <span class="user-since">Member since: {{owner.date_joined}}</span>
                                </div>
                                <div class="user-about">
                                    <p>
                                        <i class="icon-quote-left"></i>
                                           {% with about_me=owner.userinfo.about_me %}
                                              {% if about_me %}
                                                   {{about_me|truncatewords:50}}
                                                {% ifnotequal about_me about_me|truncatewords:50 %}
                                                     <a href="#" class="more-text">Read more ...</a>
                                                {% endifnotequal %}
                                              {% else %}
                                                   <i>Not Available</i>
                                               {% endif %}
                                           {% endwith %}
                                        <i class="icon-quote-right"></i>
                                    </p>
                                </div>

                                <!-- Here -->
                            </div>
                        </div>


                        <hr class="spacer">

                        <div class="row-fluid inner-row">

                            <div class="span12">

                                <div class="user-comment-area">
                                    <h4>Profile Comments</h4>
                                    {% comment %}
                                    <div>
                                        <strong>Sort by: </strong>
                                        <a href="#" class="btn btn-mini sort-options">Newest</a>
                                        <a href="#" class="btn btn-mini sort-options">Oldest</a>
                                        <a href="#" class="btn btn-mini sort-options">Most Liked</a>

                                        <span class="user-comment-count pull-right">
                                            1-10 of 100 Comments
                                        </span>

                                    </div>
                                    {% endcomment %}

                                    <ul class="media-list user-comments">
                                        {% for comment in owner.profilecomments.all %}
                                        <li class="media">
                                            <a href="{{comment.author.get_absolute_url}}" class="pull-left">
                                                <img src="{{comment.author.userinfo.get_size64}}" alt="">
                                            </a>

                                            <div class="media-body">
                                                <h5 class="media-heading"><a href="{{comment.author.get_absolute_url}}">{{comment.author}}</a></h5>
                                                <p>{{comment.content}}</p>
                                            </div>
                                        </li>
                                        {% endfor %}

                                    </ul>

                                </div>

                            </div>

                        </div>

                        <!-- end of inner-row -->

                    </div>

                    <!-- Friend BOX -->
                    <div class="span3 box">

                        <div class="box-header">
                            {% with friend_count=owner.friendship.friends.all.count %}
                            <h3>Friend{{friend_count|pluralize}} ({{friend_count}})</h3>
                            {% endwith %}
                        </div>

                        <div class="box-content">

                            <ul class="box-content-list">
                                {% for friend in owner.friendship.friends.all %}
                                    <li>
                                        <a href="{{friend.user.get_absolute_url}}">
                                            <img src="{{friend.user.userinfo.get_size64}}" alt="">
                                        </a>
                                        <strong>{{friend.user.get_full_name|title}}</strong> <br>
                                        {{friend.user.groups.all.0.name|title}} <br>
                                    </li>
                                {% endfor %}


                            </ul>

                        </div>

                    </div>
                    <!-- END FRIEND BOX -->

                </div>

            </div>
            <!-- End of .main -->
            <div id="personal-message" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="pmLabel" aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                    <h3 id="pmLabel">Message</h3>
                  </div>
                  <div class="modal-body">
                     <div class="row-fluid">
                     <form method="POST" action="{% url 'message:send' owner.id %}">
                     {% crispy messageform %}
                     </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button type="submit" class="btn btn-primary">Send Message</button>
                  </div>
                  </form>
                    </div>
                </div>
            </div>

            <div id="delete-friend" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="pmLabel" aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                    <h3 id="pmLabel">Unfriend</h3>
                  </div>
                  <div class="modal-body">
                     Are you sure you want to unfriend <strong>{{owner.get_full_name}}</strong> ?
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <a href="{% url 'friend:unfriend' owner.id %}" class="btn btn-danger">
                        Unfriend
                    </a>
                  </div>
                    </div>
                </div>
            </div>

            <div id="friend-request" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="pmLabel" aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                    <h3 id="pmLabel">Friend Request</h3>
                  </div>
                  <div class="modal-body">
                     Do you want to accept the friend request of <strong>{{owner.get_full_name}}</strong> ?
                  </div>
                  <div class="modal-footer">
                    <a href="{% url 'friend:acceptrequest' owner.id %}" class="btn btn-primary">
                        Accept
                    </a>
                    <a href="{% url 'friend:declinerequest' owner.id %}" class="btn btn-danger">
                        Decline
                    </a>

                  </div>
                    </div>
                </div>
            </div>

            <div id="profile-comment" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="pmLabel" aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                    <h3 id="pmLabel">Comment</h3>
                  </div>
                  <div class="modal-body">
                     <div class="row-fluid">
                     <form action="{% url 'profilecomment' owner.id %}" method="POST">
                     {% csrf_token %}
                     <textarea class="span12 textarea" cols="40" id="profile_comm" name="profile_comment" placeholder="Type your comment here..." required="required" rows="10"></textarea>
                     </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button type="submit" class="btn btn-primary">Post Comment</button>
                </form>
                  </div>
                    </div>
                </div>
            </div>
{% endblock %}
