
/**************************************************
                  General Styles
**************************************************/
html,body{
  height: 100%;
}

body{
    padding-top:60px;
}



/**************************************************
                  End of General Styles
**************************************************/


/**************************************************
                  Overridden Styles
**************************************************/
.well{
    padding:9px 0;
}

.media{
    padding-top:15px;
}

.media-heading{
    margin-bottom:15px;
    font-size:13px;
}

  .media-heading .post-time-elapsed{
      display:block;
      font-size:11px;
  }


.nav .nav{
    list-style: none;
    margin:0 -15px;
}

.navbar .brand, 
.navbar.navbar-inverse li a{
  color: #ccc;
}


.navbar-search{
    position: relative;
}

  .navbar-search .search-query{
      padding-left:29px !important;
  }

.nav-tabs > li{
  margin-right:-3px;
}

  .nav-tabs > li > a{
    border: 1px solid #ddd;
  }

  .nav-tabs > li > a:hover{
    background: none;
    border: 1px solid #ddd;
  }

.btn-group>.btn-small{
  font-size:12px;
}

.btn-group .dropdown-menu li a{
  color:#444;
}

/**************************************************
    End of Overwritten Styles in Twitter BS
**************************************************/

/**************************************************
                  Profile Styles
**************************************************/

body{
  background: #f8f8f8;
}

#wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom:-40px;
}

.main-nav,
.inner,
.acad-sched,
.recent-activity{
  background: #fff;
}


header h1{
  margin: 0;
  padding: 0;
  line-height: 18px;
}

    header .navbar-search .icon-search{
        position: absolute;
        top:7px;
        left:11px;
    }

    header .nav [class^="icon-"]{
        vertical-align: top;
        padding-right:10px;
    }
    
    header a{
      /*color:#e7e7e7;*/
      color: #ccc;
    }

    header .user-mini-thumb:hover{
      background:#2f2f2f;
    }

    header .user-mini-thumb a:hover{
        text-decoration:none;
    }



.sidebar .nav-list i{
    margin-right:10px;
}

.main{
  position:relative;
}

.main .breadcrumb{
  position:absolute;
  right:-11px;
}

.main .inner{
  clear:both;
  padding:0 20px;
  border:1px solid #e3e3e3;
}


.post-options{
    margin-top:-5px;
    margin-bottom:10px;
    border-bottom:1px solid #e3e3e3;
    padding-bottom: 15px;
}

  .post-options a{
      font-size:11px;
      padding: 0 10px 0 0;
  }

.user-box{
    margin:0 0 15px;
    border:0 !important;
}

.user-status{
    float:right;
    
}
  
  .user-status span{
    color:#ccc;
  }

  .user-status span:hover{
    color:#fff;
  }


  .user-status .user-mini-thumb{
    float:left;
    margin: 4px 2px;
  }

  .user-status .user-settings{
    float:right;
    margin: 8px 0 0 8px;
  }

  .user-status .user-access-link{
    margin: 11px 0;
    float:right;
  }

  .user-status .user-access-link a{
    padding: 0 5px;
  }

  .user-status .user-access-link a:hover{
    color:#fff;
    text-decoration: none;
  }


.profile-tab{
  float: left;
  margin-bottom: -1px;
}

.profile-tab li{
  background: #fff;
}

.profile-tab [class^="icon-"]{
  padding: 0 5px 0 0;
}
/*.post-comment-box{
    position: relative;

}

  .post-comment-box textarea{
      font-size:12px;
  }*/

  .post-comment-label{
      position: absolute;
      color: #a1a1a1;
      top:5px;
      left:8px;
      font-size: 12px;
  }


.post-btn{
    margin-top:-15px;
}


.main-nav{
  padding: 9px 0;
  margin: 0 0 20px;
  border: 1px solid #E3E3E3;
}

.main-nav{
  padding: 0;
}

.main-nav .nav-list>li>a{
  padding-top:8px;
  padding-bottom:8px;
}


.friend-list{
  position: relative;
  border: 1px solid #E3E3E3;
  padding: 0;
  list-style:none;
  margin: 0 20px 18px 0;
  overflow: hidden;
}

  .friend-list .f-tip{
    display:none;
  }

  .friend-list li:hover .f-tip{
    color: #fff;
    position: absolute;
    top: 4px;
    left:25px;
    background: rgba(0,0,0,0.7);
    padding: 3%;
    display:block;
  }


  .friend-list li{
      float:left;
      padding: 3%;
      width: 27%;
  }

  .friends li a{
    padding: 0;
    margin: 0;
    outline: none;
  }

  .friends li a:hover{
      background:none;
  }


  .friends img{
      float: left;
      /*margin:0 10px 10px 0;*/
      margin: 0;
  }

.friends ul{
    list-style: none;
}

.see-more{
    display:block;
    /*margin:-5px 0 0 15px;*/
    font-size:11px;
    margin: -2px 0 0 5px;
    text-align:right;
    padding-right:10px;
}

.user-box .user-box-author{
    font-size:16px;
    line-height: 18px;
}


.recent-activity,
.box{
  border: 1px solid #E3E3E3;
  margin-bottom: 18px;

}

.box .box-header{
    background: #1b1b1b;
    color:#f2f2f2;
    padding: 10px;
    margin: 0;
}

.box .item-header{
  margin-bottom: -1px;
  margin-top: 12px;
}

.recent-activity .media-list, .box .box-body{
    padding: 0 9px;
}

.recent-activity .media-list{
  height: 250px;
  overflow: auto;
}

.notes{
  margin-bottom:20px;
}

.notes>h3{
  font-size:14px;
}

.list {
  background: #FCF388;
  color: #555;
  padding: 0;
  margin: 0;
  border: 1px solid #dedede;
}

.list a{
    color:#BA350D;
    text-decoration:underline;
}

.list li {
  list-style: none;
  border-bottom: 1px dotted #F08767;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
}



/**************************************************
                  End of Profile Styles
**************************************************/



/**************************************************
            Start of Form Styles
**************************************************/

select,
textarea,
input[type="text"],
input[type="password"]{
  width:100%;
}


.login, .register{
  background:#eee;
}

.login fieldset{
  padding: 20px;
}


.form-menu{
  padding: 0;
  margin: 0;
  list-style:none;
}

.form-menu li{
  float: left;
  padding:11px 10px;
}


.register .controls{
  position: relative;
}

.register [class^="icon-"]{
  position: absolute;
  top:6px;
  left: 8px;
}

.warning{
  color:#ff0000;
  position:absolute;
  top:-20px;
}

.hint{
  color:#888;
  display:block;
  font-size:11px;
}

.register input[type="text"],
.register input[type="password"],
.register input[type="email"]{
  padding-left:25px;
}


/**************************************************
            End of Form Styles
**************************************************/

/**************************************************
            Start of Friend List Styles
**************************************************/


.friend-view{
  margin: 20px;
  border:1px solid #ccc;
  padding:0;
  width: 500px; /*Temporary*/
  overflow:auto;
  height: 350px;
}

.friend-view ul{
  list-style:none;
}

.friend-view-header{
  margin: 0;
  padding: 5px;
  background: #7f7c7f;
}

.friend-view-meta{
  border-bottom: 1px solid #cfcfcf;
  overflow: hidden;
  margin-bottom: -20px;
}

.sort-by,
.item-per,
.friend-search{
  padding: 8px;
  margin: 0;
}

.sort-by em,
.item-per em{
  font-weight:500;
  font-style:normal;
}

.sort-by a,
.item-per a{
  font-size:11px;
}

.sort-by{
  float: left;
}

.item-per{
  float: right;
}

.friend-search{
  clear: both;
}

.friend-view-body{
  padding: 10px;
  overflow: hidden;
}


.friend-view-body .friend-result-count{
  font-size:11px;
  vertical-align: top;
  display:block;
}


.friend-result-list li{
  float: left;
  margin: 0 15px 15px 10px;
}

.friend-result-list a{
  font-size:12px;
  text-decoration: none;
}
.friend-result-list img{
  float:left;
  margin:0 10px 10px 0;
}

.friend-search input[type="text"]{
  margin:0;
  padding:5px 0;
}

.friend-results{
  margin-top: -10px;
}

.friend-results .section{
  display:block;
  font-size:11px;
}

.friend-search{
  float:right;
}

/**************************************************
            End of Friend List Styles
**************************************************/

/**************************************************
            Start of Welcome Styles
**************************************************/



.info{
  margin: 20px 0;
  padding: 10px 20px;
  background: #f3f3f3;
  border:1px solid #e3e3e3;
}

.info p{
  margin: 10px 0;
}

.sched-list{
  list-style:none;
}

.schedules{
  background: #eee;
}

.sched-list li{
  margin-bottom: 18px;
}

.sched-list .sched{
  padding-bottom: 10px;
  border-bottom: 1px dotted #ccc;
}

.info h5,
.sched-list p{
  margin: 0;
  font-weight:bold;
}

.page-date{
  font-size:11px;
}


/**************************************************
            End of Welcome Styles
**************************************************/


/**************************************************
            Start of Profile Styles
**************************************************/

.user-space{
  border: 1px solid #e7e7e7;
  background: #fff;
  margin-bottom: 18px;
  padding: 20px 0;
}

  .user-space .user-area{
    overflow: hidden;
    margin-left: 20px;
  }

  .user-space .about-sec{
    margin-right:20px;
  }

  .user-space .about-sec .more-text{
    font-size:11px;
    text-decoration: none;
  }
  
  .user-space .user-thumb{
    float:left;
    margin-right:10px;
  }

  .user-space .user-meta-info{
    list-style:none;
    margin: 0;
  }

  .user-space .profile-btn .btn{
    margin: 5px 0;
  }

.user-space .about-sec,
.user-space .profile-btn{
    margin-left:20px;
}
  .user-space .about-sec h4{
    margin-top:0;
  }


.main .profile-tab-content{
  background: #fff;
  clear:both;
  padding: 20px;
  border:1px solid #e7e7e7;
}

/**************************************************
            End of Profile Styles
**************************************************/

/**************************************************
            Start of Discussion Styles
**************************************************/

.forum .forum-header{
  margin-bottom:-10px;
}

table.table td,
table.table th{
  padding-top:15px;
  padding-bottom: 15px;
}

.table{
  border: 1px solid #e7e7e7;
  margin-bottom: 0;
  background: #fff;
}

.table tr th{
  font-size: 14px;
}

.table a{
  text-decoration: none;
}

/*.table-striped tbody > tr > td:firt-child,
.table-striped thead > tr:first-child >th{
  padding-left:24px;
}*/


.table-striped tbody tr:hover > td,
.table-striped tbody tr:hover > th {
  background-color: #F3F3F3;
}

.topic-title{
  font-size:14px;
  margin: 0;
 /* margin-left:14px;*/
}

  .topic-title a:hover{
    border-bottom: 1px dotted #005580;
  }

.topic .post-date{
   font-size:11px;

}


.topic .media{
  padding: 15px;
  background-color: #eee;
  border: 1px solid #e7e7e7;
}

.topic-posts .media >.pull-left{
  margin:0 30px 30px 0;
}

.topic-posts .media-heading{
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 11px;
}


.topic-descri{
  margin-left:14px;
}

.pagination{
  float:right;
  margin: 9px 0;
}



/**************************************************
            End of Discussion Styles
**************************************************/


/**************************************************
            Start of Chat Styles
**************************************************/

.chat-msg-wrap .chat-header{
  text-align:center;
  margin: 0;
  background: #fff;
}

.chat-msg-wrap{
  border:1px solid #e7e7e7;
  float:left;
  width: 70%;
}


  .chat-msg-wrap .chat-msg{
    /*box-shadow:inset 1px 1px 1px rgba(0,0,0,0.5);*/
    background: #fff;
    height:400px;
    overflow: auto;
  }

  .chat-msg-wrap .chat-talks{
    list-style:none;
    margin: 0;
  }

  .chat-msg-wrap .chat-talks li{
    background: #eee;
    padding: 10px;
    border-bottom:1px solid #e6e6e6;
  }

  .chat-msg-wrap .chat-talks .chat-line{
    overflow: hidden;
  }

  .chat-msg-wrap .chat-talks .chatter{
    float:left;
    margin: 0 50px 10px 0;
  }

  .chat-user{
    vertical-align:top;
    font-weight:bold;
  }

  .chat-msg-wrap .chat-talks .chatter .chat-time{
    display: block;
    font-size: 11px;
  }


  .chat-msg-wrap .chat-inp{
    background: #fff;
    padding: 10px;
  }


  .chat-msg-wrap .chat-inp .chat-hint{
    font-weight:bold;
  }

  .chat-msg-wrap .chat-inp textarea{
    width: 95%;
    max-width: 95%;
  }


.chat-online-list{
  float:right;
  width: 28%;
  background: #fff;
}

  .chat-online-list h4{
    padding-left: 10px;
  }

  .chat-online-list .chat-users-online{
    list-style:none;
    margin: 0;
  }

  .chat-online-list .chat-users-online li{
      padding: 10px 10px 10px 20px;
      border:solid #ccc;
      border-width: 1px 0;
      margin-bottom:-1px;
  }


/**************************************************
            End of Chat Styles
**************************************************/



@media screen and (max-width:980px){
  
  .friend-list li{
      float:left;
      padding: 3%;
      width: 44%;
      margin-right:0;
  }
  
  .user-space .user-thumb{
    margin-bottom:10px;
  }
  
}

@media screen and (max-width:767px){
    header .brand{
  
    }
}

@media screen and (max-width:768px){
  
  .friend-list li {
    float: left;
    margin-right:-2%;
    padding: 3%;
    width: 10%;
  }

}

