{% extends "official/basetab.html" %}

{% block tabs %}
<ul class="nav nav-tabs profile-tab">
                      <li><a href="{% url 'announcement:profile' %}"><i class="icon-bullhorn"></i>Announcements</a></li>
                      <li class="active">
                        <a href="dashboard.html"><i class="icon-comment"></i>Posts</a>
                      </li>
                      <li><a href="#"><i class="icon-tasks"></i>To-dos</a></li>
</ul>
{% endblock %}
{% block tabcontent %}

                 <ul class="media-list">

                    <li class="media">

                        <a class="pull-left" href="#"><img class="media-object" src="{{STATIC_URL}}img/img64.png"></a>

                        <div class="media-body">

                            <h4 class="media-heading">
                                <a href="#" class="post-author">Christian M. Austria</a> shared a photo
                                <span class="post-time-elapsed">Posted: 1 hour ago</span>
                            </h4>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quod possimus iste vel nam in nihil delectus corrupti distinctio reiciendis ipsam odit est cum accusantium voluptatem non incidunt magni ex.</p>

                            <div class="post-options">
                                <a href="#">Approve</a>
                                <a href="#">Mark as spam</a>
                                <a href="#">Comment</a>
                            </div>

                            <!-- Start of Comments -->
                            <ul class="media-list">

                                <li class="media">

                                    <a class="pull-left" href="#">
                                    <img class="media-object" src="{{STATIC_URL}}img/img32.png">
                                    </a>

                                     <div class="media-body">

                                        <h4 class="media-heading"> 
                                            <a href="#" class="post-author">Christian M. Austria</a> shared a photo
                                            <span class="post-time-elapsed">Posted: 1 hour ago</span>
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quod possimus iste vel nam in nihil delectus corrupti distinctio reiciendis ipsam odit est cum accusantium voluptatem non incidunt magni ex.</p>

                                        <div class="post-options">
                                            <a href="#">Approve</a>
                                            <a href="#">Mark as spam</a>
                                            <a href="#">Comment</a>
                                        </div>

                                    </div>
                                </li>


                                <li class="media">

                                    <a class="pull-left" href="#"><img class="media-object" src="{{STATIC_URL}}img/img32.png"></a>

                                    <div class="media-body">

                                    <h4 class="media-heading"> 
                                        <a href="#" class="post-author">Christian M. Austria</a> shared a photo
                                        <span class="post-time-elapsed">Posted: 1 hour ago</span>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quod possimus iste vel nam in nihil delectus corrupti distinctio reiciendis ipsam odit est cum accusantium voluptatem non incidunt magni ex.</p>

                                    <div class="post-options">
                                        <a href="#">Approve</a>
                                        <a href="#">Mark as spam</a>
                                        <a href="#">Comment</a>
                                    </div>

                                    </div>
                                </li>
                            

                            </ul>
                            <!-- End of Comments -->

                        </div>

                    </li>

                   <li class="media">

                        <a class="pull-left" href="#">
                        <img class="media-object" src="{{STATIC_URL}}img/img64.png">
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"> 
                                <a href="#" class="post-author">Christian M. Austria</a> shared a photo
                                <span class="post-time-elapsed">Posted: 1 hour ago</span>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quod possimus iste vel nam in nihil delectus corrupti distinctio reiciendis ipsam odit est cum accusantium voluptatem non incidunt magni ex.</p>

                            <div class="post-options">
                                <a href="#">Approve</a>
                                <a href="#">Mark as spam</a>
                                <a href="#">Comment</a>
                            </div>

                             <!-- Start of Comments -->
                            <ul class="media-list">

                                <li class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="{{STATIC_URL}}img/img32.png"></a>

                                    <div class="media-body">
                                        <h4 class="media-heading"> 
                                            <a href="#" class="post-author">Christian M. Austria</a> shared a photo
                                            <span class="post-time-elapsed">Posted: 1 hour ago</span>
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quod possimus iste vel nam in nihil delectus corrupti distinctio reiciendis ipsam odit est cum accusantium voluptatem non incidunt magni ex.</p>

                                        <div class="post-options">
                                            <a href="#">Approve</a>
                                            <a href="#">Mark as spam</a>
                                            <a href="#">Comment</a>
                                        </div>

                                    </div>

                                </li>

                                <li class="media">

                                    <a class="pull-left" href="#"><img class="media-object" src="{{STATIC_URL}}img/img32.png"></a>

                                    <div class="media-body">
                                        <h4 class="media-heading"> 
                                            <a href="#" class="post-author">Christian M. Austria</a> shared a photo
                                            <span class="post-time-elapsed">Posted: 1 hour ago</span>
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quod possimus iste vel nam in nihil delectus corrupti distinctio reiciendis ipsam odit est cum accusantium voluptatem non incidunt magni ex.</p>

                                        <div class="post-options">
                                            <a href="#">Approve</a>
                                            <a href="#">Mark as spam</a>
                                            <a href="#">Comment</a>
                                        </div>
                                    </div>

                                </li>
                            </ul> 
                                <!-- End of Comments -->

                        </div>
                    </li>
                </ul> <!-- End of Post-Lists -->
{% endblock %}