<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en">         <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" media="all">


  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

     <!-- Start of HEADER -->
     <header class="navbar navbar-inverse navbar-fixed-top">

          <div class="navbar-inner"> 

            <div class="container">

                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <h1><a class="brand" href="#">Online Learning Platform</a></h1>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="#"><i class="icon-home"></i>Home</a></li>
                        <li><a href="#about">Profile</a></li>
                    </ul>
                </div>

                <div class="user-status pull-right">
                   <div class="user-mini-thumb">
                       <img src="img/img32.png" alt="">
                       <span>Chan Austria</span>
                   </div>

                   <div class="btn-group user-settings">
                     <button class="btn btn-small">Settings</button>
                     <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                       <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu">
                       <!-- dropdown menu links -->
                        <li><a href="#">Page Settings</a></li>
                        <li><a href="#">Help</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Logout</a></li>
                     </ul>
                   </div>

                </div>


            </div>

        </div>

    </header>

    <!-- End of HEADER -->

    
    <!-- Start of Main Wrapper -->
    <div class="container" id="wrapper">

        <div class="row-fluid">
            <!-- Start of Sidebar -->
            <div class="sidebar span2">
                <!-- features nav -->
                <div class="main-nav">

                    <ul class="nav nav-list">

                        <li>
                            <span class="nav-header" data-toggle="collapse" data-target="#inner-nav">List header</span>
                            <ul class = "nav nav-list collapse in" id="inner-nav">
                                <li><a href="#"><i class="icon-book"></i>My Course</a></li>
                                <li><a href="#"><i class="icon-user"></i>Community</a></li>
                                <li><a href="#"><i class="icon-hdd"></i>Groups</a></li>  
                                <li><a href="#"><i class="icon-file"></i>Files</a></li>
                            </ul>
                        </li>                                         
                    </ul>

                </div>
                <!-- end of features nav -->

                
                <!-- Start of friends list -->
                <div class="friend-list">

                    <ul class="friends nav nav-list">

                        <li>
                            <span class="nav-header">Friends</span>

                            <ul class="nav nav-list">
                                <li>
                                    <a href="#">
                                        <img src="img/no-image48.png" alt="">
                                    </a>  
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/no-image48.png" alt="">
                                    </a> 
                        
                                </li>
                                <li>
                                   <a href="#">
                                       <img src="img/no-image48.png" alt="">
                                   </a> 
        
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/no-image48.png" alt="">
                                    </a> 
                                    
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/no-image48.png" alt="">
                                    </a> 
                                   
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/no-image48.png" alt="">
                                    </a> 
                                   
                                </li>

                            </ul>
                    </ul>

                    <div class="see-more"><a href="#">View all</a></div>
                </div>
                <!-- End of Friends list -->
                

            </div>
            <!-- End of Sidebar -->

            
            <!-- Start of Main -->
            <div class="main span7">
                <div class="inner">
                <!-- Start  of About Section -->
                <div class="user-box media">

                       <a href="" class="pull-left">
                           <img src="img/img128.png" alt="" class="media-object">
                       </a>

                    <div class="media-body">
                        <h3 class="media-heading user-box-author">
                           <a href="#" class="post-author">Christian M. Austria</a>
                        </h3>
                        <h4>About</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quo eligendi magni reprehenderit eos repellat obcaecati non ullam quam pariatur corrupti aut. Architecto doloremque aut aliquam veritatis modi ut eaque!</p>
                    </div>

                </div>
                <!-- End of About section -->

                <!-- Start of Profile Tab Section -->
                <ul class="nav nav-tabs profile-tab">
                  <li class="active"><a href="#">Announcements</a></li>
                  <li>
                    <a href="#">Posts</a>
                  </li>
                  <li><a href="#">To-dos</a></li>
                </ul>
                <!-- End of Profile Tab section -->

                <!-- Start of Announcements -->

                <div class="announcements">
                    <h3>Announcements</h3>
                    <div class="info">
                        <h5>There will be no classes on Monday</h5>
                        <span class="page-date">March 11, 2013</span>
                        <div class="info-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi totam reprehenderit ipsum voluptate aut quo sint dicta eaque ab temporibus minus similique numquam sequi! Illo officiis obcaecati atque consequuntur eum.</p>
                        </div>
                    </div>

                    <div class="info">
                        <h5>Foundation Day</h5>
                        <span class="page-date">March 11, 2013</span>
                        <div class="info-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi totam reprehenderit ipsum voluptate aut quo sint dicta eaque ab temporibus minus similique numquam sequi! Illo officiis obcaecati atque consequuntur eum.</p>
                        </div>
                    </div>

                    <div class="info">
                        <h5>Oral Defense</h5>
                        <span class="page-date">March 11, 2013</span>
                        <div class="info-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi totam reprehenderit ipsum voluptate aut quo sint dicta eaque ab temporibus minus similique numquam sequi! Illo officiis obcaecati atque consequuntur eum.</p>
                        </div>
                    </div>

                </div>

                <!-- End of Announcements -->

                 
            </div>
            <!-- End of inner -->
            </div>
            <!-- End of Main -->

            <div class="extras span3 hidden-phone">



                <!-- Start of academic schedules -->

                <div class="acad-sched box">
                    <h4 class="box-header">Academic Schedules</h4>
                    <ul class="box-body">
                            <li>
                                <div class="sched">
                                    <p class="item-header">Exam coming this week</p>
                                    <span class="page-date">March 11, 2013</span>
                                </div>
                            </li>

                            <li>
                                <div class="sched">
                                    <p class="item-header">Exam coming this week</p>
                                    <span class="page-date">March 11, 2013</span>
                                </div>
                            </li>

                            <li>
                                <div class="sched">
                                    <p class="item-header">Exam coming this week</p>
                                    <span class="page-date">March 11, 2013</span>
                                </div>
                            </li>
                    </ul> 
                    <div class="see-more"><a href="#">View all</a></div>
                </div>
                <!-- End of schedules -->


                <!-- Start of recent activity -->

                <div class="recent-activity box">
                    <h4 class="box-header">Recent Activities</h4>
                    <ul class="media-list box-body">

                        <li class="media">
                            <a class="pull-left" href="#"><img class="media-object" src="img/img32.png"></a>

                            <div class="media-body">
                                <h5 class="media-heading"> 
                                    <a href="#" class="post-author">Christian M. Austria</a> took the online exam
                                    <span class="post-time-elapsed">a hour ago</span>
                                </h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>

                        </li>

                        <li class="media">

                            <a class="pull-left" href="#"><img class="media-object" src="img/img32.png"></a>

                            <div class="media-body">
                                <h5 class="media-heading"> 
                                    <a href="#" class="post-author">Christian M. Austria</a> took the online exam
                                    <span class="post-time-elapsed">a hour ago</span>
                                </h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>

                        </li>

                        <li class="media">

                            <a class="pull-left" href="#"><img class="media-object" src="img/img32.png"></a>

                            <div class="media-body">
                                <h5 class="media-heading"> 
                                    <a href="#" class="post-author">Christian M. Austria</a> took the online exam
                                    <span class="post-time-elapsed">a hour ago</span>
                                </h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>

                        </li>

                        <li class="media">

                            <a class="pull-left" href="#"><img class="media-object" src="img/img32.png"></a>

                            <div class="media-body">
                                <h5 class="media-heading"> 
                                    <a href="#" class="post-author">Christian M. Austria</a> took the online exam
                                    <span class="post-time-elapsed">a hour ago</span>
                                </h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>

                        </li>
                    </ul> 
                    <div class="see-more"><a href="#">View all</a></div>
                </div>

                <!-- End of recent activity -->

            </div>
            <!-- End of extras -->

        </div>
        
    </div>
    <!-- End of Wrapper -->
<footer></footer>
<script src="{{STATIC_URL}}js/jquery.js"></script>
<script src="{{STATIC_URL}}js/bootstrap.js"></script>

</body>
</html>