{% extends "official/base/base2.html" %}

{% block navigations %}
   {% include "official/include/navigation.html" %}
{% endblock %}

{% block content %}


    <div id="wrapper" class="container">
        <h3>{{thread.title}}</h3>


        <div class="row-fluid">


            <div class="span9">
                <ul class="breadcrumb">
                  <li><a href="{% url 'discuss:category' %}">Categories</a> <span class="divider">></span></li>
                  <li><a href="{% url 'discuss:list' category.slug %}">{{category.name}}</a> <span class="divider">></span></li>
                  <li class="active">{{thread.title}}</li>
                </ul>

                <div class="pagination">
                  <ul>
                    {% if posts.has_previous %}
                        <li><a href="{% url 'discuss:view' category.slug thread.id %}?page={{posts.previous_page_number}}">Prev</a></li>
                    {% else %}
                        <li class="disabled"><a href="#">Prev</a></li>
                    {% endif %}
                    {% for page in posts.paginator.page_range %}
                        {% if posts.number == page %}
                            <li class="active"><a href="#">{{page}}</a></li>
                        {% else %}
                            <li><a href="{% url 'discuss:view' category.slug thread.id %}?page={{page}}">{{page}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                        <li><a href="{% url 'discuss:view' category.slug thread.id %}?page={{posts.next_page_number}}">Next</a></li>
                    {% else %}
                        <li class="disabled"><a href="#">Next</a></li>
                    {% endif %}
                  </ul>
                </div>

                <div class="topic">
                    <!-- <h3 class="topic-title">Python Help: How to program fibonnaci series in Python?</h3> -->

                    <ul class="topic-posts">
                        {% if posts.number == 1 %}
                        <li class="per-post-wrapper">
                            <div class="row-fluid">
                                <div class="per-post-meta span3">
                                   <div>
                                       <a href="{{thread.author.get_absolute_url}}">{{thread.author.username}}</a>
                                       {% if thread.author.userinfo.primaryphoto %}
                                        <img src="{{thread.author.userinfo.get_size128}}">
                                       {% else %}
                                        <img src="{{STATIC_URL}}img/img128.png" alt="">
                                       {% endif %}
                                       <ul class="per-post-meta-info">
                                           <li>Offline</li>
                                           <li>Last Login: 03/11/2013</li>
                                           <li>Posts: {{thread.author.userinfo.posts}}</li>
                                       </ul>
                                   </div>
                                </div>
                                <div class="per-post-content span9">
                                    <div>
                                        <div class="per-post-datetime">
                                          {{thread.post_date}}
                                        </div>
                                        <p>{{thread.content}}</p>
                                    </div>


                                </div>
                                <div class="reply-bar"><a href="#" class="btn">Reply</a></div>
                            </div>
                        </li>
                        {% endif %}
                        {% for post in posts %}
                        <li class="per-post-wrapper">
                            <div class="row-fluid">
                                <div class="per-post-meta span3">
                                   <div>
                                       <a href="{{post.author.get_absolute_url}}">{{post.author}}</a>
                                       {% if thread.author.userinfo.primaryphoto %}
                                        <img src="{{post.author.userinfo.get_size128}}">
                                       {% else %}
                                        <img src="{{STATIC_URL}}img/img128.png" alt="">
                                       {% endif %}
                                       <ul class="per-post-meta-info">
                                           <li>Offline</li>
                                           <li>Last Login: 03/11/2013</li>
                                           <li>Posts: {{post.author.userinfo.posts}}</li>
                                       </ul>
                                   </div>
                                </div>
                                <div class="per-post-content span9">
                                    <div>
                                        <div class="per-post-datetime">
                                            {{post.post_date}}
                                        </div>
                                        <p>{{post.content}}</p>
                                    </div>


                                </div>
                                <div class="reply-bar"><a href="#" class="btn">Reply</a></div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                {% load crispy_forms_tags %}
                <form method="POST">
                {% crispy reply_form %}
              </form>
            </div>

            <div class="span3">
                <h4>Recent Posts</h4>

                <ul class="recent-posts">
                  <li><a href="#">How to make a responsive web design?</a></li>
                  <li><a href="#">Create a program which sorts out numbers</a></li>
                  <li><a href="#">Python Help: Fibonacci Series</a></li>
                  <li><a href="#">Python Help: Fibonacci Series</a></li>
                  <li><a href="#">Python Help: Fibonacci Series</a></li>
                </ul>
            </div>
        </div>

    </div>

{% endblock %}
{% block extrascripts %}
<script>
  $('#submit-id-submit').click( function() {
    var btn = $(this)
    if($("#id_content").val().length > 0) {
      btn.button('loading')
      setTimeout(function () {
        btn.button('reset')
      }, 3000);
  }


  });
</script>
{% endblock %}
