{% extends "official/base/base2.html" %}
{% load humanize %}

{% block navigations %}
    {% include "official/include/navigation.html" %}
{% endblock %}

{% block content %}

    <div id="wrapper" class="container">
        <h3>{{category.name}}</h3>



        <div class="row-fluid">

            <div class="span9">
                <div class="forum">
                    <ul class="breadcrumb">
                      <li><a href="{% url 'discuss:category' %}">Categories</a><span class="divider">></span></li>
                      <li class="active">{{category.name}}</li>
                    </ul>
                    <a href="{% url 'discuss:create' category.slug %}">
                        <button class="btn btn-inverse" style="margin-top:8px;" >Create a topic</button>
                    </a>
                    {% include "official/include/pagination.html" %}
                    <table class="table topics">
                        <thead>
                            <tr>
                            <th class="ico-placeholder"><i class="icon-pencil"></i></th>
                            <th>Topic</th>
                            <th>Views</th>
                            <th>Replies</th>
                            <th>Created</th>
                            <th>Last Reply</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for thread in threads%}

                            <tr>
                                <td class="ico-placeholder"><i class="icon-pencil greyed-out"></i></td>
                                <td>
                                    <div class="topic-title">
                                    <a href="{{thread.get_absolute_url}}">{{thread.title}}</a></div>
                                    <div class="topic-descri">
                                    by <a href="{{thread.author.get_absolute_url}}">{{thread.author}}</a>
                                    </div>
                                </td>
                               <td>
                                  {{thread.views}}
                                </td>
                                <td>
                                  {{thread.post_set.count}}
                                </td>
                                <td>
                                  {{thread.post_date}}
                                </td>
                                <td>
                                  {% include "official/include/lastauthor.html" %}
                                </td>
                              </tr>

                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>

            <div class="span3">

                <h4>Recent Posts</h4>
                <ul class="recent-posts">
                  <li><a href="#">How to make a responsive web design?</a></li>
                  <li><a href="#">Create a program which sorts out numbers</a></li>
                  <li><a href="#">Python Help: Fibonacci Series</a></li>
                  <li><a href="#">Python Help: Fibonacci Series</a></li>
                  <li><a href="#">Python Help: Fibonacci Series</a></li>
                </ul>
            </div>
        </div>

    </div>


{% endblock %}
