{% extends "official/base/base.html" %}

{% block head %}
	 <style>
		.form-horizontal .controls {
			margin-left:0;		
		}
		
		form {
		  margin:0;
		}
	
		.formbg {
		  border-radius:5px;
		  padding: 20px;	
		  background:#eeeeee;		
		}
		

		
	 </style>
{% endblock %}

{% block content %}
     <!-- Start of HEADER -->
     <header class="navbar navbar-inverse navbar-fixed-top">

          <div class="navbar-inner"> 

            <div class="container">

                <h1><a class="brand" href="#">Online Learning Platform</a></h1>
                <div class="form-menu-nav pull-right">
                    <ul class="form-menu">
                        <li><a href="#">Create an account</a></li>
                        <li><a href="{% url 'login_url' %}">Login</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </header>

    <!-- End of HEADER -->

    
    <!-- Start of Main Wrapper -->
    <div class="container">

        <div class="row-fluid">
            {% load crispy_forms_tags %}
            <form method="POST">
                {% csrf_token %}
	            <div class="span5 offset1 formbg">
	                {% crispy accountform %}
	            </div>
	            <div class="span5 formbg">
	                {% crispy personalform %}
	            </div>
            </form>
        </div>
        
    </div>
    <!-- End of Wrapper -->

{% endblock %}