{% extends "official/base/base.html" %}

{% block head %}
    <style>
        .asteriskField {
            display: None;
        }
        #div_id_username {
            margin-top:0;
        }

        #id-login {
            background: #eee;
            padding: 20px;
            border-radius: 5px;
        }

    </style>

{% endblock %}

{% block content %}
	 <header class="navbar navbar-inverse navbar-fixed-top">

	      <div class="navbar-inner">

	        <div class="container">

	            <h1><a class="brand" href="#">Online Learning Platform</a></h1>
	            <div class="form-menu-nav pull-right">
	                <ul class="form-menu">
	                    <li><a href="{% url 'register_url' %}">Create an account</a></li>
	                    <li><a href="#">Login</a></li>
	                </ul>
	            </div>
	        </div>

	    </div>

	</header>

	<div class="container">
		<div class="row-fluid">
		    <div class = "span3">
				{% load crispy_forms_tags %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
                <form action="{% url 'login_url' %}" method="POST" id="id-login">
				{% crispy loginform %}
                <a href="{% url 'forgetpass' %}" class="pull-right">Forgot your password?</a>
            </form>
            </div>
			<div class="span6">

					<div class="announcements">
						<h3>Announcements</h3>
						{% if announcements %}
						  {% for announcement in announcements %}
							<div class="info">
								<h5>{{announcement.title}}</h5>
								<span class="page-date">{{announcement.postdate}} by {{announcement.author}}</span>
								<div class="info-body">
									<p>{{announcement.content}}</p>
								</div>
							</div>
						  {% endfor %}
						{% else %}
						    <div class="info">
                                <div class="info-body">
                                    <p>There are no announcements.</p>
                                </div>
                            </div>
						{% endif %}

					</div>
			</div>

			<div class="span3">
				<div class="schedules">
					<h4>Academic Schedule</h4>
					<ul class="sched-list">
						<li>
							<div class="sched">
								<p>Exam coming this week</p>
								<span class="page-date">March 11, 2013</span>
							</div>
						</li>

						<li>
							<div class="sched">
								<p>Exam coming this week</p>
								<span class="page-date">March 11, 2013</span>
							</div>
						</li>

						<li>
							<div class="sched">
								<p>Exam coming this week</p>
								<span class="page-date">March 11, 2013</span>
							</div>
						</li>
					</ul>

					<div class="see-more">
						<a href="#">View all</a>
					</div>

				</div>

			</div>
		</div>
	</div>
{% endblock %}

