{% extends "official/base/base2.html" %}
{% load crispy_forms_tags %}

{% block navigations %}
    {% with profile_active="active" %}
    {% include "official/include/navigation.html" %}
    {% endwith %}
{% endblock %}

{% block content %}


    <div id="wrapper" class="container">

        <div class="row-fluid main">


            <div class="span9">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}} fade in">
                            <button type="button" class="close" data-dismiss="alert">x</button>
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
                <h4 class="owner">{{owner.get_full_name}} <span class="alias">({{owner.username}})</span></h4>

                <div class="row-fluid user-space">
   
                        <div class="span4">

                            <div class="user-area">

                                <div class="user-thumb">
                                    <a href="#">
                                        {% if owner.userinfo.primaryphoto %}
                                            <img src="{{owner.userinfo.primaryphoto.url}}" alt="">
                                        {% else %}
                                            <img src="{{STATIC_URL}}img/img128.png" alt="">
                                        {% endif %}
                                    </a>
                                </div>

                                
                                <div class="user-meta">
                                    <ul class="user-meta-info">
                                        <li>Student</li>
                                        <li>{{owner.userinfo.course}}</li>
                                        <li>Member since Jan 1</li>
                                    </ul>
                                </div>


                            </div>

                            <!-- end of user-area -->

                        </div>

                        <div class="span8">

                            <div class="about-sec">
                                <h4>About Me</h4>
                                <p>
                                   {% with about_me=owner.userinfo.about_me %}
                                   {% if about_me %}
                                    {{about_me|truncatewords:50}}
                                    {% ifnotequal about_me about_me|truncatewords:50 %}
                                    <a href="#" class="more-text">Read more ...</a> 
                                    {% endifnotequal %}
                                   {% else %}
                                     <i>Not Available</i>
                                   {% endif %}
                                   {% endwith %}
                                </p>
                            </div>
                            {% if owner.id != user.id %}
                            <div class="profile-btn">
                                <a href="#personal-message" class="btn  btn-small" data-toggle="modal"><i class="icon-envelope"></i> Send message</a>
                                {% if user.friendship in owner.friendship.friends.all %}
                                    <a href="{% url 'friend:unfriend' owner.id %}" class="btn btn-small"><i class="icon-minus"></i> Unfriend</a>
                                {% elif has_request.to_user == owner %}
                                    <a href="{% url 'friend:cancelrequest' owner.id %}" class="btn btn-small"><i class="icon-ban-circle"></i> Cancel friend request</a>
                                {% elif has_request.from_user == owner %}
                                    <a href="#" class="btn btn-small" id="respondrequest"><i class="icon-plus"></i> Respond to friend request</a>
                                {% else %}
                                    <a href="{% url 'friend:addfriend' owner.id %}" class="btn btn-small"><i class="icon-plus"></i> Add as friend</a>
                                {% endif %}    
                            </div>
                            {% endif %}

                        </div>
                </div>

                <div class="row-fluid">
                    
                    <div class="span12 main">

                        <ul class="nav nav-tabs profile-tab">
                          <li class="active">
                            <a href="#">Comments</a>
                          </li>
                          <li><a href="#">Photos</a></li>
                          <li><a href="#">Link 2</a></li>
                        </ul>
                        
                        <div class="profile-tab-content">
                            
                            <div class="personal-info">
                                <h5>Personal Info</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam maiores quidem optio ratione deleniti similique blanditiis cum mollitia perspiciatis fugiat sed? Perspiciatis dolores placeat eum iusto ipsam quae ipsa.</p>
                            </div>

                            <p>Hello</p>

                        </div>

                    </div>


                </div>
                
            </div>

            <div class="span3">
                <div class="friend-wrapper">
                    <h4>Friends</h4>
                    <ul class="friend-list">
                        {% for friend in owner.friendship.friends.all %}
                            <li><a href="{% url 'profile_url' friend.user.id %}" data-toggle="tooltip" title=""
                                data-original-title="{{friend.user.get_full_name}}" 
                                rel="tooltip" data-container="body">
                                {% if friend.user.userinfo.primaryphoto %}
                                    <img src="{{friend.user.userinfo.get_size64}}">
                                {% else %}
                                    <img src="{{STATIC_URL}}img/img64.png" alt="">
                                {% endif %}
                                </a></li>
                                
                        {% endfor %}
                    </ul>
                </div>

            </div>

                <!-- End of first row -->

            </div>

        </div>
        <div id="personal-message" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="pmLabel" aria-hidden="true">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="pmLabel">Message</h3>
			  </div>
			  <div class="modal-body">
			     <div class="row-fluid">
			     <form method="POST" action="{% url 'message:send' owner.id %}">
			    {% crispy messageform %}
			    </div>
			  </div>
			  <div class="modal-footer">
			    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			    <button type="submit" class="btn btn-primary">Send Message</button>
			  </div>
			  </form>
		</div>
    
{% endblock %}
{% block extrascripts %}
<script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
    $(document).ready( function() {
    	$('#respondrequest').popover({
    		   placement: 'bottom',
    		   html: 'true',
    		   content: "<a href=\"{% url 'friend:acceptrequest' owner.id %}\">Accept</a> <br> " + 
    		            " <a href=\"{% url 'friend:declinerequest' owner.id %}\">Decline</b>",
    	});
    });
    
</script>   
{% endblock %}